body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: 'Raleway', sans-serif;
  color:#4A4A4A;
}
header {
  box-sizing: content-box;
  width:100vw;
  display: block;
}
header ul {
  list-style-type: none;
  box-sizing: border-box;
  font-size: 23px;
}
.nav_left li {
  float:left;
  margin-left: 60px;
  margin-top: 20px;
  padding: 7px 14px 7px  14px;
  border-radius: 10px;

}
.nav_left li:first-child {
  margin-top: 0px;
  margin-left:0;
  margin-left: 90px;
}
.nav_right li {
  float:right;
  margin-right: 60px;
  margin-top: 20px;
  padding: 7px 14px 7px  14px;
  border-radius: 10px;
}

.nav-animated:hover {
  animation: nav-animation .2s linear;
  animation-fill-mode: forwards;
} 
.nav-animated {
  animation: nav-animation-back .1s linear;
} 



@keyframes nav-animation{
  0%{
    background: white;
    color:black;
  }
  100%{
    background: #4C56C0;
    color: white;
  }
}
@keyframes nav-animation-back{
  0%{
    background: #4C56C0;
    color: white;
  }
  100%{
    background: white;
    color:black;
  }

}
section {
  width: 100vw;
  float:left;

}
.first h1 {
  font-size: 77px;
  font-weight: 900;
  padding-left:140px;
}
.first h3 {
  padding-left:140px;
  width:1104px;
  font-size: 34px;
  font-weight: 400;
}
.first img {
  width:1592px;
  height: 988px;
  position: relative;
  left:-60px;
}
.s2nd {
  width:100vw;
  margin-top: 162px;
}
.card {
  display: inline;
  max-width: 755px;
}