body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: 'Raleway', sans-serif;
  color:#4A4A4A;
}
header {
  box-sizing: content-box;
  width:100vw;
  display: block;
}
header ul {
  list-style-type: none;
  box-sizing: border-box;
  font-size: 23px;
}
.nav_left li {
  float:left;
  margin-left: 60px;
  margin-top: 20px;
  padding: 7px 14px 7px  14px;
  border-radius: 10px;

}
.nav_left li:first-child {
  margin-top: 0px;
  margin-left:0;
  margin-left: 90px;
}
.nav_right li {
  float:right;
  margin-right: 60px;
  margin-top: 20px;
  padding: 7px 14px 7px  14px;
  border-radius: 10px;
}

.nav-animated:hover {
  animation: nav-animation .2s linear;
  animation-fill-mode: forwards;
} 
.nav-animated {
  animation: nav-animation-back .1s linear;
} 



@keyframes nav-animation{
  0%{
    background: white;
    color:black;
  }
  100%{
    background: #4C56C0;
    color: white;
  }
}
@keyframes nav-animation-back{
  0%{
    background: #4C56C0;
    color: white;
  }
  100%{
    background: white;
    color:black;
  }

}
section {
  width: 100vw;
  float:left;

}
.first h1 {
  font-size: 77px;
  font-weight: 900;
  padding-left:140px;
}
.first h3 {
  padding-left:140px;
  width:1104px;
  font-size: 34px;
  font-weight: 400;
}
.first img {
  width:1592px;
  height: 988px;
  position: relative;
  left:-60px;
}
.s2nd {
  width:100vw;
  margin-top: 162px;
  margin-bottom: 162px;
}
.card {
  display: inline-block;
  width: 755px;
  box-sizing: border-box;
  color: white;
  padding-top: 55px;
  padding-left: 57px;
  height: 980px;

}
.card h2 {
  width:755px;
  font-size: 56px;
  font-weight: bold;
}
.card p {
  width:755px;
  font-size: 28px;
  line-height: 52px;
}
.card1 {
  float:left;
  background: #FCC242;
  margin-left:140px;
}
.card2 {
  float:right;
  background: #4C56C0;
  margin-right:140px;
}
.card ul li {
  font-size: 26px;
  line-height: 59px;
  padding-top:10px;
}
.card ul {
  list-style-type: circle;
  margin-left: 0;
  padding-left: 25px;
}
.card button {
  padding: 10px 40px 10px 40px;
  font-size: 26px;
  color:white;
  border-radius: 7px;
  border:none;
  margin-top: 100px;
  margin-bottom: 90px;
  float: left;
}
.card1 button {
  background: #4C56C0;
}
.card2 button {
  background: #FCC242;
}
button:focus {
  outline:none;
}
.card img {
  float:right;
  position: relative;
  top: -220px;
}